.ant-tabs-nav-scroll{
	background:#ffffff;
    margin-bottom:2px;
}


@media screen and (min-width: 768px){
.ant-tabs-nav-scroll{
    padding:0 1em;
}
}


@media screen and (min-width: 1024px){
.ant-tabs-nav-scroll{
    padding:0 6em;
}
}
